@model Locadora.Web.MVC.Models.DetalheJogoModel
@{
    ViewBag.Title = "DetalhesDoJogo";
}

<h2>@Model.Nome</h2>

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
        <img src="@Model.UrlImagem" alt="Imagem Jogo" class="imagem-detalhe-jogo" />
    </div>
    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
        Categoria: @Model.Categoria <br />
        Preço: @Model.Preco.ToString("c") <br />
    </div>
</div>

@if (!String.IsNullOrEmpty(Model.TagVideo))
{
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Vídeo do jogo</h2>
            @Html.Raw(Model.TagVideo)
        </div>
    </div>
}



