@model DetalheJogoModel

@{
    ViewBag.Title = "Detalhes Do Jogo";
}

<div class="row">
    <div class="col-lg-4 col-lg-offset-1 text-left">
        <div class="image-wraper">
            @Html.Partial("_ImagemJogo", Model.Imagem)
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h2>@Model.Nome</h2>
                @Html.Partial("_ImagemSelo", Model.Selo.ToString())
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Categoria:</label>
                @Model.Categoria
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Descrição:</label>
                <p class="text-justify">@Model.Descricao</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        @Html.EmbedVideo(Model.Video)
    </div>
</div>
