@model ManterJogoModel

<h2>Manter</h2>

@using (Html.BeginForm("Salvar", "Jogo", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(false)

    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nome)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Categoria)
        @Html.EnumDropDownListFor(m => m.Categoria, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Categoria)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Preco)
        @Html.TextBoxFor(m => m.Preco, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Preco)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao)
        @Html.TextAreaFor(m => m.Descricao, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Descricao)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Selo)
        @Html.EnumDropDownListFor(m => m.Selo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Selo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Imagem)
        @Html.TextBoxFor(m => m.Imagem, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Video)
        @Html.TextBoxFor(m => m.Video, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </div>
}

@section ScriptsValidacao {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}