@model LocarJogoModel

<div class="row">
    <div class="col-lg-4 col-lg-offset-1 text-left">
        <div class="image-wraper">
            @Html.Partial("_ImagemJogo", Model.Imagem)
            @Html.Partial("_ImagemSelo", Model.Selo.ToString())
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <h2>@Model.NomeJogo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-left">
                <label>Descrição:</label>
                <p class="text-justify">@Model.Descricao</p>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-lg-12">
                <label>Data prevista p/ entrega:</label>
                 @Model.DataEntrega
            </div>
        </div>
        <div class="row text-left">
            <div class="col-lg-12">
                <label>Preço:</label> @Model.Preco.ToString("c")
            </div>
        </div>
    </div>
</div>